@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body{
    font-family: 'Source Sans Pro', sans-serif;
}
.main-heading{
    background-color: white;
    text-align: center;
    font-size: 4rem;
    margin: 1rem;
}

.main{
    padding: .4rem;
    color: #00FF00;
    background-color: black;
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rules{
    text-align: center;
    font-size: 2.5rem;
}
h2{
    text-align: center;
    color: #00FF00;
}
.scoreboard{
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.score-box{
    border: 4px solid #00FF00;
    border-radius: 0px 0px 60% 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem;
    font-size: 2rem;
}

.socreboard-heading {
    font-size: 1.5rem;
    position: relative;
    top: 4rem;
    background-color: black;
    color: white;
    border-radius: 20%;
}


.usertag{
    font-size: 1.5rem;
    position: relative;
    top: 6.5rem;
    left: -7.5rem;
    background-color: rgb(185, 62, 62);
    color: white;
    padding: .5rem;
    border-radius: 20%;
}
.computertag{
    font-size: 1.5rem;
    position: relative;
    top: -6.5rem;
    left: 7.5rem;
    background-color: rgb(185, 62, 62);
    color: white;
    padding: .5rem;
    border-radius: 20%;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.choice{
    border-radius: 50%;
    background: #00FF00;
    padding: 1rem;
    margin: .4rem;
}

#resulttag{
    color: #00FF00;
    transition: opacity 5s ease-in;
}
.user-button{
    background-color: grey;
}

footer{
    /* border-radius: 20%; */
    background-color: black;
}
footer h2{
    padding: 0px;
    margin: 0px;
}

.reset{
    padding: 1rem;
    border-radius: 50%;
    color: #00FF00;
    background-color: black;
    font-size: 1.5rem;
    text-transform: uppercase;

}
.reset:hover{
    background-color: #00FF00;
    color: black;
}

.hidden{
    display: none;
}
.border-button{
    margin: 0px 5rem;
    padding: 1rem;
    border: 2px solid #00ff00;
    border-radius: 30px;
}


/* .transit{
     animation-name: anima;
     animation-duration: 2s;
}

@keyframes anima{
    from{margin-left: 0%;}
    to{margin-left: 50%;}
} */